* {
  font-family: 'Comic Sans MS';
  color: white;
}

body {
  display: flex;
  background-color: #0b1630;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 600px;
  width: 100hh;
  gap: 5%;
}
.left {
  background-color: #192642;
  border-radius: 10px;
  min-width: 250px;
  max-width: 250px;
  width: 250px;
  height: 50vh;
  margin-top: 5%;
  margin-bottom: 12%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 1s transform 1s;
}

.title {
  margin-top: 5%;
  font-size: 130%;
  font-weight: bold;
}
.text {
  height: 100vh;
  margin: 10px;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#button {
  background-color: orange;
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;
}

#button:hover {
  background-color: gray;
  transform: scale(1.1,1.1);
}

.search {
  display: flex;
  gap: 10px;
}

#dog {
  background-color: orange;
  border-radius: 5px;
  font-weight: bold;
  width: 70;
}

#dog:hover {
  background-color: gray;
  transform: scale(1.1,1.1);
}

#dad {
  background-color: orange;
  border-radius: 5px;
  font-weight: bold;
  width: 70;
}

#dad:hover {
  background-color: gray;
  transform: scale(1.1,1.1);
}

#hipster {
  background-color: orange;
  border-radius: 5px;
  font-weight: bold;
  width: 70;
}

#hipster:hover {
  background-color: gray;
  transform: scale(1.1,1.1);
}

.right {
  background-color: #0b1630;
  border-radius: 10px;
  min-width: 30%;
  max-width: 475px;
  height: 50vh;
  margin-top: 5%;
  margin-bottom: 12%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 475px;
  height: auto;
  
}
#funny {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
}